n8n/projects/[case 3] triagem-email-ia.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "542a6880-ac96-4329-bfb2-42f589d52e6d",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "nllewQ4rHW7ZHPhq",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7f4f2ce-b0cd-46cd-adb5-67b8854787d2",
              "name": "titulo",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "21a702b5-1ec6-45ad-aeb5-4e861631a545",
              "name": "messagem",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "b96dc106-2dd5-4f07-8ce8-974624c3690b",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "db4692e4-d3d7-4109-a32b-ecc045184f37",
              "name": "Data",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "object"
            },
            {
              "id": "86ee9c05-aff8-448c-a09c-f79e8e6d5da8",
              "name": "Hora",
              "value": "={{ $now.toFormat('HH:mm:ss') }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8aedccaf-8ad1-4b49-a897-e2c6289513c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"complexidade\": \"simples\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        256
      ],
      "id": "8291319a-b02a-4bda-9bc7-5a8c106984c1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "2e62b826-3c6b-4082-b5df-305189e85ac4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "suXjHH3fBAXaKpU1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd078eae-86e5-436f-a8ce-b711ac201f62",
              "name": "complexidade",
              "value": "={{ $json.output.complexidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "3aa9cb56-6d84-4aa4-a3b6-021b5d909ef2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "959d4085-27c4-44a4-9d92-3f26d2885c59",
              "leftValue": "={{ $json.complexidade }}",
              "rightValue": "Simples",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "6ee636b8-b78e-47b9-a6ab-cb8315868203",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=baseado bas FAQS, responda o emaisl abaixo de forama educada e clara:\n\n\n{{ $('Edit Fields').item.json.messagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente da FlexData. Responda ao cliente com base nas FAQs.\nSeja educado e direto. Se a pergunta não estiver nas FAQs, diga que entraremos em contato.\n\nFAQs:\n1. Segunda via da fatura → https://flexdata.com.br/fatura\n2. Horário de atendimento: seg-sex, 8h às 18h\n3. Cancelamento → cancelamento@flexdata.com.br\n4. Telefone: (11) 4000-1234\n5. Prazo de resposta: até 24h úteis\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1264,
        -336
      ],
      "id": "7a5e12fa-35ac-416e-97b1-dfbbc6474a56",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1248,
        -96
      ],
      "id": "84aa6c8d-a804-4641-9c66-472dafaaa4b6",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "suXjHH3fBAXaKpU1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Baseado no email abaixo, gere uma proposta de solução para o atendente para facilitar a resposta para o cliente:\n\n{{ $('Edit Fields').item.json.messagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Gere uma resposta sugerida, curta e educada, para um atendente humano. Não envie diretamente ao cliente. Apenas resuma o contexto e\nproponha o que o atendente pode responder.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1232,
        96
      ],
      "id": "411bd64e-3a79-4b15-a399-89256ce2e25b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1232,
        336
      ],
      "id": "4c1b3767-a4d4-4a70-beb5-1a87e03000ef",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "suXjHH3fBAXaKpU1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json.from }}",
        "subject": "=RE:  {{ $('Edit Fields').item.json.titulo }}",
        "bodyContent": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1632,
        -336
      ],
      "id": "e0678ccb-50b2-4cb3-a130-901c21643b76",
      "name": "Send a message",
      "webhookId": "3684c9ee-409c-4bd0-bda2-48fa9a06ebad",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "nllewQ4rHW7ZHPhq",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json.from }}",
        "subject": "=RE:  {{ $('Edit Fields').item.json.titulo }}",
        "bodyContent": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1632,
        96
      ],
      "id": "d5973f51-14b6-42f4-a59b-4011ab2b85cb",
      "name": "Send a message1",
      "webhookId": "0d79d878-9520-49ff-93f8-1621c4495ee1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "nllewQ4rHW7ZHPhq",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Triagem Inteligente de E-mails com IA (Classificação e Resposta)\n**Este projeto automatiza a triagem e resposta de e-mails. A IA classifica o conteúdo e gera respostas inteligentes para casos simples, liberando a equipe de atendimentos repetitivos e desnecessários.**",
        "height": 1040,
        "width": 2064,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -512
      ],
      "typeVersion": 1,
      "id": "dad140d4-e9dd-4cca-bbf2-d53c676ee209",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=analise a complexidade do conteudo do email abaixo:\n\n{{ $json.messagem }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um classificador de mensagens da FlexData.\nAvalie se a mensagem do cliente é SIMPLES ou COMPLEXA.\n- SIMPLES: pode ser respondida com base nas FAQs abaixo.\n- COMPLEXA: envolve reclamações, dúvidas financeiras,\ntécnicas ou solicitações fora das FAQs.\n\nFAQs:\n1. Segunda via da fatura → https://flexdata.com.br/fatura\n2. Horário de atendimento: seg-sex, 8h às 18h\n3. Cancelamento → cancelamento@flexdata.com.br\n4. Telefone: (11) 4000-1234\n5. Prazo de resposta: até 24h úteis\n\n\nResponda apenas em formato json identico ao especificado abaixo:\n\n{\ncomplexidade: \"Simples\" / \"Complexo\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "eeb46eb7-b0a1-4abf-bc71-8168405f4ff0",
      "name": "Agente Classificador (Simples & Complexo)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        -336
      ],
      "id": "8abc989a-b7b0-4305-8750-de8c12629e7a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        96
      ],
      "id": "756280c3-4d5c-4050-8c52-9993d210ecc9",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agente Classificador (Simples & Complexo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Classificador (Simples & Complexo)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Classificador (Simples & Complexo)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Classificador (Simples & Complexo)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a64aff86-0694-434e-8a96-cca999abf386",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4298eb8aba464aede5b834296f5ae42ce50b4e09444b58414216ab3d56f0a4cd"
  },
  "id": "SOjIH3UZGu5u1TbK",
  "tags": []
}